In [1]:
# Data collected from "https://covid19.who.int/WHO-COVID-19-global-data.csv"
# pip install matplot
# pip install pandas
# pip install numpy

In [2]:
import os
import urllib
import matplotlib.pyplot as Mat
import pandas as pd
import numpy as np
import mysql.connector as MySQL

In [3]:
Data = MySQL.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="divyansh"
)

In [4]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")

In [5]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path,"WHO-COVID-19-Data.csv")
urllib.request.urlretrieve(url, csv_path)

('data\\covid\\WHO-COVID-19-Data.csv',
 <http.client.HTTPMessage at 0x29ab8d493d0>)

In [6]:
DataF = pd.read_csv(csv_path)

In [7]:
DataF

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
184381,2022-02-14,ZW,Zimbabwe,AFRO,82,231381,0,5374
184382,2022-02-15,ZW,Zimbabwe,AFRO,222,231603,0,5374
184383,2022-02-16,ZW,Zimbabwe,AFRO,260,231863,4,5378
184384,2022-02-17,ZW,Zimbabwe,AFRO,350,232213,1,5379
184385,2022-02-18,ZW,Zimbabwe,AFRO,0,232213,0,5379

In [8]:
DataF_index = DataF.index
DataF_index

RangeIndex(start=0, stop=184386, step=1)

In [9]:
DataF_columns = DataF.columns
DataF_columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [10]:
DataF_index.values

array([     0,      1,      2, ..., 184383, 184384, 184385], dtype=int64)

In [11]:
DataF.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2022-02-16', 'ZW', 'Zimbabwe', ..., 231863, 4, 5378],
       ['2022-02-17', 'ZW', 'Zimbabwe', ..., 232213, 1, 5379],
       ['2022-02-18', 'ZW', 'Zimbabwe', ..., 232213, 0, 5379]],
      dtype=object)

In [12]:
DataF.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [13]:
DataF.shape

(184386, 8)

In [14]:
DataF.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [15]:
DataF.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
184381,2022-02-14,ZW,Zimbabwe,AFRO,82,231381,0,5374
184382,2022-02-15,ZW,Zimbabwe,AFRO,222,231603,0,5374
184383,2022-02-16,ZW,Zimbabwe,AFRO,260,231863,4,5378
184384,2022-02-17,ZW,Zimbabwe,AFRO,350,232213,1,5379
184385,2022-02-18,ZW,Zimbabwe,AFRO,0,232213,0,5379

In [16]:
DataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184386 entries, 0 to 184385
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      184386 non-null  object
 1   Country_code       183608 non-null  object
 2   Country            184386 non-null  object
 3   WHO_region         184386 non-null  object
 4   New_cases          184386 non-null  int64
 5   Cumulative_cases   184386 non-null  int64
 6   New_deaths         184386 non-null  int64
 7   Cumulative_deaths  184386 non-null  int64
dtypes: int64(4), object(4)
memory usage: 11.3+ MB

In [17]:
DataF.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  1.843860e+05      1.843860e+05  184386.000000      184386.000000
mean   2.270511e+03      4.977848e+05      31.760676       10432.261110
std    1.569237e+04      2.748729e+06     166.017200       49628.839883
min   -3.295200e+04      0.000000e+00     -60.000000           0.000000
25%    0.000000e+00      1.270000e+02       0.000000           1.000000
50%    2.100000e+01      8.438000e+03       0.000000         121.000000
75%    4.880000e+02      1.322770e+05       6.000000        2280.000000
max    1.327952e+06      7.752159e+07    8786.000000      921984.000000

In [18]:
DataF["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
184381       Zimbabwe
184382       Zimbabwe
184383       Zimbabwe
184384       Zimbabwe
184385       Zimbabwe
Name: Country, Length: 184386, dtype: object

In [19]:
DataF["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
DataF["Country_code"].unique()

array(['AF', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW',
       'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ',
       'BM', 'BT', 'BO', 'XA', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF',
       'BI', 'CV', 'KH', 'CM', 'CA', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO',
       'KM', 'CG', 'CK', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'KP',
       'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE',
       'SZ', 'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF', 'PF', 'GA', 'GM',
       'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD', 'GP', 'GU', 'GT', 'GG',
       'GN', 'GW', 'GY', 'HT', 'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR',
       'IQ', 'IE', 'IM', 'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE',
       'KI', 'XK', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI',
       'LT', 'LU', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MQ', 'MR',
       'MU', 'YT', 'MX', 'FM', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM',
       nan, 'NR', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NU', 'MK',
       'MP', 'NO', 'PS', 'OM', ' ', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PN', 'PL', 'PT', 'PR', 'QA', 'KR', 'MD', 'RE', 'RO', 'RU',
       'RW', 'XC', 'BL', 'SH', 'KN', 'LC', 'MF', 'PM', 'VC', 'WS', 'SM',
       'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'XB', 'SX', 'SK', 'SI',
       'SB', 'SO', 'ZA', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TH', 'GB', 'TL', 'TG', 'TK', 'TO', 'TT', 'TN', 'TR', 'TM',
       'TC', 'TV', 'UG', 'UA', 'AE', 'TZ', 'US', 'VI', 'UY', 'UZ', 'VU',
       'VE', 'VN', 'WF', 'YE', 'ZM', 'ZW'], dtype=object)

In [21]:
DataF.columns = [col.strip() for col in DataF.columns]
DataF.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [22]:
DataF.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
184381       Zimbabwe
184382       Zimbabwe
184383       Zimbabwe
184384       Zimbabwe
184385       Zimbabwe
Name: Country, Length: 184386, dtype: object

In [23]:
 DataF.loc[1:4, "Country"]

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [24]:
DataF.loc[1:8,["Country", "New_cases"]]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [25]:
DataF.Country == "India"

0         False
1         False
2         False
3         False
4         False
          ...
184381    False
184382    False
184383    False
184384    False
184385    False
Name: Country, Length: 184386, dtype: bool

In [26]:
DataF[DataF.Country == "India"]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
74688,2020-01-03,IN,India,SEARO,0,0,0,0
74689,2020-01-04,IN,India,SEARO,0,0,0,0
74690,2020-01-05,IN,India,SEARO,0,0,0,0
74691,2020-01-06,IN,India,SEARO,0,0,0,0
74692,2020-01-07,IN,India,SEARO,0,0,0,0
...,...,...,...,...,...,...,...,...
75461,2022-02-14,IN,India,SEARO,34113,42665534,346,509011
75462,2022-02-15,IN,India,SEARO,27409,42692943,347,509358
75463,2022-02-16,IN,India,SEARO,30615,42723558,514,509872
75464,2022-02-17,IN,India,SEARO,30757,42754315,541,510413
75465,2022-02-18,IN,India,SEARO,25920,42780235,492,510905

In [27]:
DataF[DataF.New_deaths > 1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
6498,2020-10-03,AR,Argentina,AMRO,14001,765002,3351,20288
18921,2020-09-08,BO,Bolivia (Plurinational State of),AMRO,528,120769,1610,7008
21923,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
21925,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
21926,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
...,...,...,...,...,...,...,...,...
176599,2022-02-12,US,United States of America,AMRO,163600,76813395,2367,908961
176600,2022-02-13,US,United States of America,AMRO,169957,76983352,2603,911564
176603,2022-02-16,US,United States of America,AMRO,243618,77301430,3114,915622
176604,2022-02-17,US,United States of America,AMRO,111750,77413180,2938,918560
176605,2022-02-18,US,United States of America,AMRO,108409,77521589,3424,921984

In [28]:
DataF.loc[(DataF.New_deaths > 1000) & (DataF.Country_code=="IN"),["Date_reported","Country_code","Country","New_deaths","New_cases"]]

      Date_reported Country_code Country  New_deaths  New_cases
74854    2020-06-17           IN   India        2003      10974
74890    2020-07-23           IN   India        1129      45720
74908    2020-08-10           IN   India        1007      62064
74912    2020-08-14           IN   India        1007      64553
74917    2020-08-19           IN   India        1092      64531
...             ...          ...     ...         ...        ...
75451    2022-02-04           IN   India        1072     149394
75452    2022-02-05           IN   India        1059     127952
75455    2022-02-08           IN   India        1188      67597
75456    2022-02-09           IN   India        1217      71365
75457    2022-02-10           IN   India        1241      67084

[129 rows x 5 columns]

In [29]:
DataF.loc[DataF.Country_code == "IN",["New_cases"]].max()

New_cases    414188
dtype: int64

In [30]:
DataF.loc[DataF.Country_code == "IN",["New_deaths"]].max()

New_deaths    6148
dtype: int64

In [31]:
DataF.loc[DataF.Country_code == "IN",["New_deaths"]].sum()

New_deaths    510905
dtype: int64

In [32]:
DataS = Data.cursor()

In [33]:
DataS.execute("SELECT * FROM CV19CU;")

In [34]:
OutputData = DataS.fetchall()

In [35]:
for x in OutputData:
    print(x)

(1, 'AF', 'Afghanistan')
(2, 'BH', 'Bhamas')
(3, 'CV', 'Cabo Verde')
(4, 'DK', 'North Korea')
(5, 'IN', 'India')
(6, 'SA', 'Saudi Arab')
(7, 'SK', 'South Korea')
(8, 'YM', 'Yemen')
(9, 'CH', 'China')
(10, 'PK', 'Pakistan')